Package: com.humphreytweaks.nomorebadgenumbers
Name: NoMoreBadgeNumbers
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Remove the numbers on notification badges
Maintainer: Ethan Humphrey
Author: Ethan Humphrey
Section: Tweaks
Depiction: https://ethantheinnovator.github.io/repo/depictions/?p=com.humphreytweaks.nomorebadgenumbers
Icon: https://ethantheinnovator.github.io/repo/assets/nomorebadgenumbers.png
Version: 1.1
Installed-Size: 136
